:root {
  --color-primary:    rgb(0, 137, 216);
  --color-green:      rgb(0, 175, 50);
  --color-orange:     rgb(250, 150, 50);
  --color-red:        rgb(225, 50, 50);
  --color-green-teal: rgb(40, 200, 160);
  --color-purple:     rgb(75, 50, 200);
}
